/* Color styles */

/* Body
White #FFFFFF */

/* Primary Brand 
Iris #4D5AE5 */

/* Dark 
Navy blue #2E2F42 */

/* Success 
GREEN #31D0AA */

/* Text 
SLATE #434455 */

/* Subtle Text 
LIGHT SLATE #8E8F99 */

/* Accent 
cornflower #E7E9FC */

/* Light 
CLOUD #F4F4FD */

:root {
    --primary-brand-color: #4D5AE5;
    --title-text-color: #2E2F42;
    --description-text-color: #434455;
    --background-light-color: #F4F4FD;
}

/* Фон всієї сторінки */
.page-body {
    background-color: #ffffff;
    color: var(--title-text-color);
}

.list {
    list-style: none;
}

/* Логотип */
.logo {
    color: var(--title-text-color);
    text-decoration: none;
}

.first-logo {
    color: var(--primary-brand-color);
}

/* Навігація */
.site-nav a {
    color: var(--title-text-color);
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #434455;
}

/* Контакти */
.contact a {
    color: var(--description-text-color);
    text-decoration: none;
}

.contact a:hover,
.contact a:focus {
    color: var(--primary-brand-color);
}

/* Герой */
.hero {
    background-color: var(--title-text-color);
    color: #FFFFFF;
}

.button {
    background-color: #FFFFFF;
    color: var(--title-text-color);
}

.button.primary {
   background-color: var(--primary-brand-color);
   color: #ffffff; 
}

.button.secondary {
    background-color: var(--background-light-color);
    color: var(--primary-brand-color);
}

.secondary:hover,
.secondary:focus {
    background-color: var(--primary-brand-color);
    color: var(--background-light-color);
}

/* Опис */
.description p {
    color: var(--description-text-color);
}

/* Команда */
.team {
    background-color: var(--background-light-color);
}

.team-card li {
    background-color: #ffffff;
}

/* Foother */
footer {
    background-color: var(--title-text-color);
    color: #E7E9FC;
}

.logo-foother {
    color: var(--background-light-color);
    text-decoration: none;
}

.first-logo {
    color: var(--primary-brand-color);
}

/* Portfolio cards */
.project-cards p {
    color: var(--description-text-color);
}

.card-text {
    color: #F4F4FD;
}